@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family:Helvetica;  
}

.border-gradient {
  border: 2px solid;
  border-image-slice: 1;
}

.border-gradient {
  border-image-source: linear-gradient(273.64deg, #35C3F3 11.27%, #8B9FE8 36.72%, #E681D8 61.72%, #FFA9A4 82.79%, #FED2CE 107.29%, #FED2CE 107.29%);
}
.text-bg-gradient {
  background-image: linear-gradient(273.64deg, #35C3F3 11.27%, #8B9FE8 36.72%, #E681D8 61.72%, #FFA9A4 82.79%, #FED2CE 107.29%, #FED2CE 107.29%);
}

.only-bottom {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}